.sectionHeader {
  background-image: linear-gradient(to left, white 10%, whitesmoke 90%);
  padding: 10px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.topSmallMargin {
  margin-top: 10px;
}

.padded {
  padding: 10px;
}

.rightAlign {
  text-align: right;
}

.centerAlign {
  text-align: center;
}

.headText {
  color: #1890ff; 
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.subText {
  font-size: 12px;
}

.gridContainer {
  width: 100%;
  margin-top: 10px;
  font-family: 'Cairo', sans-serif !important;
}

.redBack {
  background-color: #ff0038;
  color: white;
}

.redGreen {
  background-color: #00A86B;
  color: white;
}

.justifiedDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderSpinner {
  width: 300px !important;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* position: absolute;
  left: 50%;
  top: 50%; */
  transform: translate(-50%, -50%);
  height: auto !important;
  border: 1px solid #1e90ff61;
  padding: 10px;
  background:rgba(255, 255, 255, 0.4);
  margin: 0 !important;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(51,51,51, 0.1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(51,51,51, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(51,51,51, 0.1);
}